In [64]:
# importamos las librerías que necesitamos

# Tratamiento de datos
# -----------------------------------------------------------------------
import pandas as pd
import numpy as np

# Configuración
# -----------------------------------------------------------------------
pd.set_option('display.max_columns', None) # para poder visualizar todas las columnas de los DataFrames

In [ ]:
# Otras opciones

pd.set_option('display.float_format', '{:.2f}'.format)

import warnings
warnings.simplefilter(action='ignore', category=FutureWarning)

In [65]:
df = pd.read_csv('Spotify_Youtube.csv', index_col=0)

In [66]:
df.head()

,Artist,Url_spotify,Track,Album,Album_type,Uri,Danceability,Energy,Key,Loudness,Speechiness,Acousticness,Instrumentalness,Liveness,Valence,Tempo,Duration_ms,Url_youtube,Title,Channel,Views,Likes,Comments,Description,Licensed,Official_video,Stream
0,Gorillaz,https://open.spotify.com/artist/3AA28KZvwAUcZu...,Feel Good Inc.,Demon Days,album,spotify:track:0d28khcov6AiegSCpG5TuT,"0,818","0,705","6,0","-6,679","0,177","0,00836","0,00233",0.6130,0.772,138.559,222640.0,https://www.youtube.com/watch?v=HyHNuVaZJ-k,Gorillaz - Feel Good Inc. (Official Video),Gorillaz,693555221.0,6220896.0,169907.0,Official HD Video for Gorillaz' fantastic trac...,True,True,1.040235e+09
1,Gorillaz,https://open.spotify.com/artist/3AA28KZvwAUcZu...,Rhinestone Eyes,Plastic Beach,album,spotify:track:1foMv2HQwfQ2vntFf9HFeG,"0,676","0,703","8,0","-5,815","0,0302","0,0869","0,000687",0.0463,0.852,92.761,200173.0,https://www.youtube.com/watch?v=yYDmaexVHic,Gorillaz - Rhinestone Eyes [Storyboard Film] (...,Gorillaz,72011645.0,1079128.0,31003.0,The official video for Gorillaz - Rhinestone E...,True,True,3.100837e+08
2,Gorillaz,https://open.spotify.com/artist/3AA28KZvwAUcZu...,New Gold (feat. Tame Impala and Bootie Brown),New Gold (feat. Tame Impala and Bootie Brown),single,spotify:track:64dLd6rVqDLtkXFYrEUHIU,"0,695","0,923","1,0","-3,93","0,0522","0,0425","0,0469",0.1160,0.551,108.014,215150.0,https://www.youtube.com/watch?v=qJa-VFwPpYA,Gorillaz - New Gold ft. Tame Impala & Bootie B...,Gorillaz,8435055.0,282142.0,7399.0,Gorillaz - New Gold ft. Tame Impala & Bootie B...,True,True,6.306347e+07
3,Gorillaz,https://open.spotify.com/artist/3AA28KZvwAUcZu...,On Melancholy Hill,Plastic Beach,album,spotify:track:0q6LuUqGLUiCPP1cbdwFs3,"0,689","0,739","2,0","-5,81","0,026","1,51e-05","0,509",0.0640,0.578,120.423,233867.0,https://www.youtube.com/watch?v=04mfKJWDSzI,Gorillaz - On Melancholy Hill (Official Video),Gorillaz,211754952.0,1788577.0,55229.0,Follow Gorillaz online:\nhttp://gorillaz.com \...,True,True,4.346636e+08
4,Gorillaz,https://open.spotify.com/artist/3AA28KZvwAUcZu...,Clint Eastwood,Gorillaz,album,spotify:track:7yMiX7n9SBvadzox8T5jzT,"0,663","0,694","10,0","-8,627","0,171","0,0253","0,0",0.0698,0.525,167.953,340920.0,https://www.youtube.com/watch?v=1V_xRb0x9aw,Gorillaz - Clint Eastwood (Official Video),Gorillaz,618480958.0,6197318.0,155930.0,The official music video for Gorillaz - Clint ...,True,True,6.172597e+08

In [67]:
df.tail()

,Artist,Url_spotify,Track,Album,Album_type,Uri,Danceability,Energy,Key,Loudness,Speechiness,Acousticness,Instrumentalness,Liveness,Valence,Tempo,Duration_ms,Url_youtube,Title,Channel,Views,Likes,Comments,Description,Licensed,Official_video,Stream
20713,SICK LEGEND,https://open.spotify.com/artist/3EYY5FwDkHEYLw...,JUST DANCE HARDSTYLE,JUST DANCE HARDSTYLE,single,spotify:track:0RtcKQGyI4hr8FgFH1TuYG,"0,582","0,926","5,0","-6,344","0,0328","0,448","0,0",0.0839,0.6580,90.002,94667.0,https://www.youtube.com/watch?v=5SHmKFKlNqI,JUST DANCE HARDSTYLE,SICK LEGEND - Topic,71678.0,1113.0,0.0,Provided to YouTube by Routenote\n\nJUST DANCE...,True,True,9227144.0
20714,SICK LEGEND,https://open.spotify.com/artist/3EYY5FwDkHEYLw...,SET FIRE TO THE RAIN HARDSTYLE,SET FIRE TO THE RAIN HARDSTYLE,single,spotify:track:3rHvPA8lUnPBkaLyPOc0VV,"0,531","0,936","4,0","-1,786","0,137","0,028","0,0",0.0923,0.6570,174.869,150857.0,https://www.youtube.com/watch?v=ocTH6KxllDQ,SET FIRE TO THE RAIN HARDSTYLE,SICK LEGEND - Topic,164741.0,2019.0,0.0,Provided to YouTube by Routenote\n\nSET FIRE T...,True,True,10898176.0
20715,SICK LEGEND,https://open.spotify.com/artist/3EYY5FwDkHEYLw...,OUTSIDE HARDSTYLE SPED UP,OUTSIDE HARDSTYLE SPED UP,single,spotify:track:4jk00YxPtPbhvHJE9N4ddv,"0,443","0,83","4,0","-4,679","0,0647","0,0243","0,0",0.1540,0.4190,168.388,136842.0,https://www.youtube.com/watch?v=5wFhE-HY0hg,OUTSIDE HARDSTYLE SPED UP,SICK LEGEND - Topic,35646.0,329.0,0.0,Provided to YouTube by Routenote\n\nOUTSIDE HA...,True,True,6226110.0
20716,SICK LEGEND,https://open.spotify.com/artist/3EYY5FwDkHEYLw...,ONLY GIRL HARDSTYLE,ONLY GIRL HARDSTYLE,single,spotify:track:5EyErbpsugWliX006eTDex,"0,417","0,767","9,0","-4,004","0,419","0,356","0,0184",0.1080,0.5390,155.378,108387.0,https://www.youtube.com/watch?v=VMFLbFRNCn0,ONLY GIRL HARDSTYLE,SICK LEGEND - Topic,6533.0,88.0,0.0,Provided to YouTube by Routenote\n\nONLY GIRL ...,True,True,6873961.0
20717,SICK LEGEND,https://open.spotify.com/artist/3EYY5FwDkHEYLw...,MISS YOU HARDSTYLE,MISS YOU HARDSTYLE,single,spotify:track:6lOn0jz1QpjcWeXo1oMm0k,"0,498","0,938","6,0","-4,543","0,107","0,00277","0,911",0.1360,0.0787,160.067,181500.0,https://www.youtube.com/watch?v=zau0dckCFi0,MISS YOU HARDSTYLE,SICK LEGEND - Topic,158697.0,2484.0,0.0,Provided to YouTube by Routenote\n\nMISS YOU H...,True,True,5695584.0

In [68]:
df.sample(10)

,Artist,Url_spotify,Track,Album,Album_type,Uri,Danceability,Energy,Key,Loudness,Speechiness,Acousticness,Instrumentalness,Liveness,Valence,Tempo,Duration_ms,Url_youtube,Title,Channel,Views,Likes,Comments,Description,Licensed,Official_video,Stream
17521,Brytiago,https://open.spotify.com/artist/00XhexlJEXQstH...,Desnudarte,Desnudarte,single,spotify:track:3wrBFPDRyIGyGXxGSc970M,"0,863","0,527","10,0","-6,261","0,216","0,377","3,7e-06",0.0946,0.599,90.990,262200.0,https://www.youtube.com/watch?v=hEz3Jpl2cUA,"Brytiago, Jay Wheeler - Desnudarte (Video Ofic...",BrytiagoTV,1.230600e+08,698529.0,3037.0,DESNUDARTE - Brytiago x Jay Wheeler\n»Subscríb...,False,False,9.559381e+07
15054,Rvssian,https://open.spotify.com/artist/1fctva4kpRbg2k...,Krippy Kush,TrapXficante,album,spotify:track:7FfpP3YZ6fOWMdxkIAtud9,"0,708","0,56","9,0","-7,132","0,129","0,0668","0,0",0.1110,0.411,163.043,230520.0,https://www.youtube.com/watch?v=j1_JW7An2l0,"Farruko, Bad Bunny, Rvssian - Krippy Kush (Off...",FARRUKOVEVO,7.862809e+08,4253772.0,198142.0,"Farruko, Bad Bunny & Rvssian - ""Krippy Kush"" (...",True,True,2.368422e+08
12167,Zac Brown Band,https://open.spotify.com/artist/6yJCxee7QumYr8...,Free,The Foundation,album,spotify:track:4BaAxwS4VoeCYk9TuXQs7f,"0,453","0,411","1,0","-7,539","0,0276","0,235","0,00021",0.1010,0.280,75.752,228653.0,https://www.youtube.com/watch?v=yAuwqm0IjlA,Zac Brown Band – Free (Official Music Video),Zac Brown Band,1.186456e+07,37992.0,912.0,Zac Brown Band – Free (Official Music Video)\n...,True,True,7.258004e+07
12795,El Komander,https://open.spotify.com/artist/2wC90WSKQd0Bvd...,A Mi Me Interesa,Detras Del Miedo,album,spotify:track:1YZkwuliEh6c0rv7gmumCG,"0,583","0,446","11,0","-6,248","0,0352","0,268","0,0",0.2240,0.684,142.097,189283.0,https://www.youtube.com/watch?v=65x2yKwtX68,Me Interesa,El Komander - Topic,1.304395e+06,13089.0,9.0,Provided to YouTube by TuneCore\n\nMe Interesa...,True,True,4.461937e+07
13819,Kizzy,https://open.spotify.com/artist/2NMYOlZHIEsSq7...,Balão 2,Vida Cara,album,spotify:track:4y956Vqc68NtoH6Xpy91X2,"0,612","0,724","1,0","-5,423","0,0477","0,186","0,0",0.1090,0.268,137.877,252174.0,https://www.youtube.com/watch?v=ZBXTHY8wEE8,"Orochi ""BALÃO 2"" (prod. TkN, Kizzy, Luchinha)",Orochi,4.023724e+06,183184.0,6030.0,Ouça #VIDACARA em todas as plataformas digitai...,True,True,3.136799e+06
2092,Papa Roach,https://open.spotify.com/artist/4RddZ3iHvSpGV4...,Swerve - Rockzilla Remix,Swerve (Rockzilla Remix),single,spotify:track:2nUicn7YuS1bo2DqgELtj0,"0,585","0,912","10,0","-4,804","0,0889","0,00258","0,0",0.1080,0.828,165.035,167832.0,https://www.youtube.com/watch?v=Fk9rTJYfEIY,Papa Roach - Swerve feat. FEVER 333 & Sueco [O...,Papa Roach,2.671967e+06,46470.0,1776.0,Papa Roach - Swerve (feat. Jason Aalon of FEVE...,True,True,1.512674e+06
13133,Meek Mill,https://open.spotify.com/artist/20sxb77xiYeusS...,All Eyes on You (feat. Chris Brown & Nicki Minaj),Dreams Worth More Than Money,album,spotify:track:0hy1SOTEn9ifXTzOwnCwEr,"0,589","0,658","11,0","-5,288","0,203","0,0242","0,0",0.1180,0.251,77.521,223973.0,https://www.youtube.com/watch?v=ut9ThAbfde0,Meek Mill Ft. Nicki Minaj & Chris Brown - All ...,Meek Mill,4.770153e+08,2009564.0,65407.0,Meek Mill Ft. Nicki Minaj & Chris Brown - All ...,False,True,3.226944e+08
5186,Gloria Estefan,https://open.spotify.com/artist/5IFCkqu9J6xdWe...,Hoy,BRAZIL305,album,spotify:track:7BZVS9FlVL1NQOShky7Bpw,"0,618","0,653","8,0","-5,406","0,0869","0,554","0,0",0.1580,0.510,103.916,214267.0,https://www.youtube.com/watch?v=cyblSDoRRxg,Gloria Estefan - Hoy (Official Video),GloriaEstefanVEVO,4.560378e+07,291625.0,8229.0,Gloria Estefan's official music video for 'Hoy...,True,True,5.284319e+06
3721,The Doobie Brothers,https://open.spotify.com/artist/39T6qqI0jDtSWW...,"Another Park, Another Sunday",What Were Once Vices Are Now Habits,album,spotify:track:6K1Wr66UPDkfsS4lrNdY9e,"0,514","0,551","9,0","-9,617","0,0272","0,31","2,53e-05",0.1440,0.755,113.427,267800.0,https://www.youtube.com/watch?v=KoQ65bWjDyw,"Doobie Brothers - Another Park, Another Sunday...",moondoggy,1.205520e+05,1508.0,162.0,A great song to listen to anytime .....,False,False,1.469714e+07
14580,Charlie Puth,https://open.spotify.com/artist/6VuMaDnrHyPL1p...,See You Again (feat. Charlie Puth),See You Again (feat. Charlie Puth),single,spotify:track:2JzZzZUQj3Qff7wapcbKjc,"0,689","0,481","10,0","-7,503","0,0815","0,369","1,03e-06",0.0649,0.283,80.025,229526.0,https://www.youtube.com/watch?v=RgKAFK5djSk,Wiz Khalifa - See You Again ft. Charlie Puth [...,Wiz Khalifa Music,5.773798e+09,40147674.0,2127346.0,Download the new Furious 7 Soundtrack Deluxe V...,True,True,1.521255e+09

In [69]:
df.shape

(20718, 27)

In [70]:
df.dtypes

Artist               object
Url_spotify          object
Track                object
Album                object
Album_type           object
Uri                  object
Danceability         object
Energy               object
Key                  object
Loudness             object
Speechiness          object
Acousticness         object
Instrumentalness     object
Liveness            float64
Valence             float64
Tempo               float64
Duration_ms         float64
Url_youtube          object
Title                object
Channel              object
Views               float64
Likes               float64
Comments            float64
Description          object
Licensed             object
Official_video       object
Stream              float64
dtype: object

In [71]:
df.isnull().sum()

Artist                0
Url_spotify           0
Track                 0
Album                 0
Album_type            0
Uri                   0
Danceability          2
Energy                2
Key                   2
Loudness              2
Speechiness           2
Acousticness          2
Instrumentalness      2
Liveness              2
Valence               2
Tempo                 2
Duration_ms           2
Url_youtube         470
Title               470
Channel             470
Views               470
Likes               541
Comments            569
Description         876
Licensed            470
Official_video      470
Stream              576
dtype: int64

In [72]:
df.duplicated().sum()

0

In [73]:
df.describe().T

,count,mean,std,min,25%,50%,75%,max
Liveness,20716.0,1.935210e-01,1.685309e-01,0.0145,9.410000e-02,1.250000e-01,2.370000e-01,1.000000e+00
Valence,20716.0,5.298533e-01,2.454408e-01,0.0000,3.390000e-01,5.370000e-01,7.262500e-01,9.930000e-01
Tempo,20716.0,1.206383e+02,2.957902e+01,0.0000,9.700200e+01,1.199650e+02,1.399350e+02,2.433720e+02
Duration_ms,20716.0,2.247176e+05,1.247905e+05,30985.0000,1.800095e+05,2.132845e+05,2.524430e+05,4.676058e+06
Views,20248.0,9.393782e+07,2.746443e+08,0.0000,1.826002e+06,1.450110e+07,7.039975e+07,8.079649e+09
Likes,20177.0,6.633411e+05,1.789324e+06,0.0000,2.158100e+04,1.244810e+05,5.221480e+05,5.078865e+07
Comments,20149.0,2.751899e+04,1.932347e+05,0.0000,5.090000e+02,3.277000e+03,1.436000e+04,1.608314e+07
Stream,20142.0,1.359422e+08,2.441321e+08,6574.0000,1.767486e+07,4.968298e+07,1.383581e+08,3.386520e+09

In [74]:
df.describe(include='O').T

,count,unique,top,freq
Artist,20718,2079,Gorillaz,10
Url_spotify,20718,2079,https://open.spotify.com/artist/3AA28KZvwAUcZu...,10
Track,20718,17841,El Ultimo Adiós - Varios Artistas Version,24
Album,20718,11937,Greatest Hits,30
Album_type,20718,3,album,14926
Uri,20718,18862,spotify:track:0tzixmHNQfE6S6SirSToxW,24
Danceability,20716,898,"0,687",78
Energy,20716,1268,"0,572",60
Key,20716,12,"0,0",2305
Loudness,20716,9417,"-7,818",25
Speechiness,20716,1303,"0,0324",72
Acousticness,20716,3138,"0,114",50
Instrumentalness,20716,4012,"0,0",9391
Url_youtube,20248,18154,https://www.youtube.com/watch?v=GqOvxbFLwjY,18
Title,20248,18146,Color Esperanza 2020 - Various Artists (Offici...,18
Channel,20248,6714,T-Series,238
Description,19842,17395,,114
Licensed,20248,2,True,14140
Official_video,20248,2,True,15723

In [75]:
columnas = {col:col.lower() for col in df.columns}
df.rename(columns=columnas, inplace=True)
df.columns

Index(['artist', 'url_spotify', 'track', 'album', 'album_type', 'uri',
       'danceability', 'energy', 'key', 'loudness', 'speechiness',
       'acousticness', 'instrumentalness', 'liveness', 'valence', 'tempo',
       'duration_ms', 'url_youtube', 'title', 'channel', 'views', 'likes',
       'comments', 'description', 'licensed', 'official_video', 'stream'],
      dtype='object')

In [ ]:
# Otra solución 
df.columns = df.columns.str.lower()
df.columns

In [78]:
cols = ['danceability', 'energy', 'key', 'loudness', 'speechiness', 'acousticness', 'instrumentalness']
df[cols] = df[cols].apply(lambda x: x.str.replace(',', '.')).astype(float, errors='ignore') # Al astype le puedo pasar el argumento errors= 'ignore'
df[cols]

,danceability,energy,key,loudness,speechiness,acousticness,instrumentalness
0,0.818,0.705,6.0,-6.679,0.1770,0.008360,0.002330
1,0.676,0.703,8.0,-5.815,0.0302,0.086900,0.000687
2,0.695,0.923,1.0,-3.930,0.0522,0.042500,0.046900
3,0.689,0.739,2.0,-5.810,0.0260,0.000015,0.509000
4,0.663,0.694,10.0,-8.627,0.1710,0.025300,0.000000
...,...,...,...,...,...,...,...
20713,0.582,0.926,5.0,-6.344,0.0328,0.448000,0.000000
20714,0.531,0.936,4.0,-1.786,0.1370,0.028000,0.000000
20715,0.443,0.830,4.0,-4.679,0.0647,0.024300,0.000000
20716,0.417,0.767,9.0,-4.004,0.4190,0.356000,0.018400
20717,0.498,0.938,6.0,-4.543,0.1070,0.002770,0.911000

In [79]:
df[cols].dtypes

danceability        float64
energy              float64
key                 float64
loudness            float64
speechiness         float64
acousticness        float64
instrumentalness    float64
dtype: object

In [ ]:
# Este ejercicio se hace de mejor manera con una función con try except para manejar los errores
def cambiar_comas(valColumna):
    try:
        return float(valColumna.replace(",", "."))  
    except:
        return np.nan
    
for columna in cols:
    df[columna] = df[columna].apply(cambiar_comas)

In [ ]:
# Otra manera de hacerlo mas sofisticada
cols = ['danceability', 'energy', 'key', 'loudness', 'speechiness', 'acousticness', 'instrumentalness']
for col in cols:
    df[col] = df[col].apply(lambda dato: float(dato.replace(",", ".")) if isinstance(dato, str) else np.nan)

In [89]:
df[['track', 'title', 'album']] = df[['track', 'title', 'album']].apply(lambda x: x.str.lower())
df[['track', 'title', 'album']]

,track,title,album
0,feel good inc.,gorillaz - feel good inc. (official video),demon days
1,rhinestone eyes,gorillaz - rhinestone eyes [storyboard film] (...,plastic beach
2,new gold (feat. tame impala and bootie brown),gorillaz - new gold ft. tame impala & bootie b...,new gold (feat. tame impala and bootie brown)
3,on melancholy hill,gorillaz - on melancholy hill (official video),plastic beach
4,clint eastwood,gorillaz - clint eastwood (official video),gorillaz
...,...,...,...
20713,just dance hardstyle,just dance hardstyle,just dance hardstyle
20714,set fire to the rain hardstyle,set fire to the rain hardstyle,set fire to the rain hardstyle
20715,outside hardstyle sped up,outside hardstyle sped up,outside hardstyle sped up
20716,only girl hardstyle,only girl hardstyle,only girl hardstyle
20717,miss you hardstyle,miss you hardstyle,miss you hardstyle

In [111]:
df['artist'] = df['artist'].apply(lambda x: x.replace('$', 's'))

In [ ]:
# Otra solución
artistas_con_dolar = df['artist'].str.contains('$', regex=False, case = False)
artistas=df[artistas_con_dolar]
artistas["artist"].unique()

In [157]:
df['album_type'].value_counts()

album_type
album          14926
single          5004
compilation      788
Name: count, dtype: int64

In [125]:
df1 = df[df['album_type'] == 'album']
df1.shape[0]

14926

In [126]:
df2 = df[df['album_type'] == 'single']
df2.shape[0]

5004

In [127]:
df3 = df[df['album_type'] == 'compilation']
df3.shape[0]

788

In [156]:
# Reto Bonus: Automatizar el ejercicio anterior >> usando las variables dfs que ya existen
cols = ['album', 'single', 'compilation']
dfs = [df1, df2, df3]
for x in dfs:
    for col in cols:
        x = df[df['album_type'] == col]

print(df1.shape, df2.shape, df3.shape)

(14926, 27) (5004, 27) (788, 27)

In [176]:
# Reto Bonus: Automatizar el ejercicio anterior (se podría mejorar usando un diccionario y concatenación de strings con f string.) >> Avanzado!!
categorias = {col:f"df_{col}" for col in df['album_type'].unique()}
for k, v in categorias.items():
    v = df[df['album_type'] == k]
    print(f"CATEGORIA: {k}      CANTIDAD DE CANCIONES: {v.shape[0]}")
    print('********************************')

CATEGORIA: album      CANTIDAD DE CANCIONES: 14926
********************************
CATEGORIA: single      CANTIDAD DE CANCIONES: 5004
********************************
CATEGORIA: compilation      CANTIDAD DE CANCIONES: 788
********************************

In [180]:
dic_df = {f"df_{unico}": df[df["album_type"]==unico] for unico in df["album_type"].unique()}
for k, v in dic_df.items():
    print(f"CATEGORIA: {k}      CANTIDAD DE CANCIONES: {v.shape[0]}")

CATEGORIA: df_album      CANTIDAD DE CANCIONES: 14926
CATEGORIA: df_single      CANTIDAD DE CANCIONES: 5004
CATEGORIA: df_compilation      CANTIDAD DE CANCIONES: 788

In [139]:
df_danceability = df1.groupby('artist')['danceability'].agg(['mean', 'std']).reset_index()
df_danceability.sort_values(by='mean', ascending=False)

                      artist      mean       std
1003                   Latto  0.922333  0.014503
1261                   Murda  0.911500  0.030406
848                    Jon Z  0.886000  0.015556
204                 Blueface  0.885000  0.043782
887                Jung Kook  0.881000       NaN
...                      ...       ...       ...
1661        Stephen Cleobury  0.142067  0.042212
1341            Ocean Sounds  0.137980  0.063706
1342   Ocean Waves For Sleep  0.133533  0.061768
1897  White Noise for Babies  0.090262  0.163895
1896  White Noise Baby Sleep  0.066270  0.071434

[1989 rows x 3 columns]

In [140]:
df_acousticness = df1.groupby('artist')['acousticness'].agg(['mean', 'std']).reset_index()
df_acousticness.sort_values(by='mean', ascending=False)

                   artist      mean       std
351        Claude Debussy  0.993714  0.001380
1509      Robert Schumann  0.993444  0.004902
601        Franz Schubert  0.989500  0.005237
506          Edvard Grieg  0.989500  0.007863
607       Frédéric Chopin  0.989286  0.004071
...                   ...       ...       ...
1879              Volbeat  0.000220  0.000237
1254  Motionless In White  0.000166  0.000191
947     Killswitch Engage  0.000132  0.000158
963              Kordhell  0.000083       NaN
747             In Flames  0.000070  0.000128

[1989 rows x 3 columns]

In [141]:
df_speechiness = df1.groupby('artist')['speechiness'].agg(['mean', 'std']).reset_index()
df_speechiness.sort_values(by='mean', ascending=False)

                      artist      mean       std
1626  Sir Arthur Conan Doyle  0.952300  0.008845
181          Bibi Blocksberg  0.945300  0.011879
1601         Sherlock Holmes  0.939300  0.015833
1698                    TKKG  0.919300  0.023542
613             Fünf Freunde  0.906200  0.048960
...                      ...       ...       ...
1877           Vishal Mishra  0.027400       NaN
1476            Randy Travis  0.027071  0.004159
347     Cigarettes After Sex  0.027057  0.001265
1478            Rashmi Virag  0.025300       NaN
1544                    SYML  0.025300       NaN

[1989 rows x 3 columns]

In [155]:
cols = ['danceability', 'acousticness', 'speechiness']
for col in cols:
    display(df1.groupby('artist')[col].agg(['mean', 'std']).reset_index().sort_values(by='mean', ascending=False))

                      artist      mean       std
1003                   Latto  0.922333  0.014503
1261                   Murda  0.911500  0.030406
848                    Jon Z  0.886000  0.015556
204                 Blueface  0.885000  0.043782
887                Jung Kook  0.881000       NaN
...                      ...       ...       ...
1661        Stephen Cleobury  0.142067  0.042212
1341            Ocean Sounds  0.137980  0.063706
1342   Ocean Waves For Sleep  0.133533  0.061768
1897  White Noise for Babies  0.090262  0.163895
1896  White Noise Baby Sleep  0.066270  0.071434

[1989 rows x 3 columns]

                   artist      mean       std
351        Claude Debussy  0.993714  0.001380
1509      Robert Schumann  0.993444  0.004902
601        Franz Schubert  0.989500  0.005237
506          Edvard Grieg  0.989500  0.007863
607       Frédéric Chopin  0.989286  0.004071
...                   ...       ...       ...
1879              Volbeat  0.000220  0.000237
1254  Motionless In White  0.000166  0.000191
947     Killswitch Engage  0.000132  0.000158
963              Kordhell  0.000083       NaN
747             In Flames  0.000070  0.000128

[1989 rows x 3 columns]

                      artist      mean       std
1626  Sir Arthur Conan Doyle  0.952300  0.008845
181          Bibi Blocksberg  0.945300  0.011879
1601         Sherlock Holmes  0.939300  0.015833
1698                    TKKG  0.919300  0.023542
613             Fünf Freunde  0.906200  0.048960
...                      ...       ...       ...
1877           Vishal Mishra  0.027400       NaN
1476            Randy Travis  0.027071  0.004159
347     Cigarettes After Sex  0.027057  0.001265
1478            Rashmi Virag  0.025300       NaN
1544                    SYML  0.025300       NaN

[1989 rows x 3 columns]

In [158]:
# Otra opción, pero esta no es ideal para usar el sort_values(). La opción anterior con el bucle es la ideal. 
medias = df1.groupby("artist")[["danceability", "acousticness", "speechiness"]].agg(["mean", "std"]).round(2)
medias

                  danceability       acousticness       speechiness
                          mean   std         mean   std        mean   std
artist
(G)I-DLE                  0.80  0.06         0.05  0.05        0.13  0.05
*NSYNC                    0.62  0.11         0.15  0.18        0.06  0.04
070 Shake                 0.65  0.09         0.03  0.03        0.07  0.05
112                       0.72  0.10         0.13  0.14        0.14  0.12
11:11 Music Group         0.73   NaN         0.92   NaN        0.03   NaN
...                        ...   ...          ...   ...         ...   ...
will.i.am                 0.74  0.14         0.01  0.01        0.08  0.05
Ángela Aguilar            0.72  0.12         0.46  0.21        0.03  0.00
Ñejo                      0.84   NaN         0.18   NaN        0.30   NaN
Ñengo Flow                0.72  0.10         0.12  0.09        0.23  0.19
Øneheart                  0.30   NaN         0.98   NaN        0.04   NaN

[1989 rows x 6 columns]

In [ ]:
# Esta opción sirve para enseñar estadísticas distintas dentro de la misma tabla, no es ideal para usar el sort_values()
df1.groupby("artist").agg({"danceability":["mean", "std"], "acousticness":["min", "max"]}).round(2)
# Para hacer el sort_values con esa opción y con la anterior habría que pasar al sort_values una tupla con la columna y la subcoumna por las cuáles quiero ordenar.
# tupla = ('danceability', 'mean')

In [149]:
df_most_views = df.groupby('artist')[['views', 'likes']].mean().sort_values(by='views', ascending=False).head(10)
df_most_views

                                views      likes
artist
Ed Sheeran               1.546021e+09  8354331.9
CoComelon                1.460167e+09  4171391.3
Katy Perry               1.312063e+09  6306709.0
Charlie Puth             1.216759e+09  8633692.5
Luis Fonsi               1.162811e+09  6690848.9
Justin Bieber            1.099106e+09  7858434.8
Daddy Yankee             1.087193e+09  6551817.1
Bruno Mars               1.024092e+09  5961614.6
Macklemore & Ryan Lewis  1.012206e+09  6604141.0
Coldplay                 9.997278e+08  6315789.5

In [150]:
df_most_likes = df.groupby('artist')[['views', 'likes']].mean().sort_values(by='likes', ascending=False).head(10)
df_most_likes

                        views       likes
artist
BTS              5.607867e+08  13940380.8
BLACKPINK        9.392962e+08  13230250.5
Charlie Puth     1.216759e+09   8633692.5
Ed Sheeran       1.546021e+09   8354331.9
Justin Bieber    1.099106e+09   7858434.8
Billie Eilish    4.821569e+08   7333853.7
Imagine Dragons  9.093785e+08   7227447.7
Alan Walker      7.256847e+08   6797770.2
DJ Snake         9.180268e+08   6777583.1
Luis Fonsi       1.162811e+09   6690848.9

# BONUS

In [151]:
df_most_views = df2.groupby('artist')[['views', 'likes']].mean().sort_values(by='views', ascending=False).head(10)
df_most_views

                                views        likes
artist
Charlie Puth             2.935089e+09  20873473.50
Rihanna                  2.626030e+09  10603656.00
PSY                      2.520605e+09  14396842.00
Twenty One Pilots        1.987867e+09  15003359.00
Wiz Khalifa              1.690387e+09  11947629.25
BLACKPINK                1.465903e+09  16591806.00
Calvin Harris            1.371673e+09   6025032.50
Daddy Yankee             1.317749e+09   6632210.00
Christina Perri          1.107727e+09   6929093.00
Macklemore & Ryan Lewis  1.012206e+09   6604141.00

In [152]:
df_most_likes = df2.groupby('artist')[['views', 'likes']].mean().sort_values(by='likes', ascending=False).head(10)
df_most_likes

                          views         likes
artist
Charlie Puth       2.935089e+09  2.087347e+07
BLACKPINK          1.465903e+09  1.659181e+07
Twenty One Pilots  1.987867e+09  1.500336e+07
PSY                2.520605e+09  1.439684e+07
Childish Gambino   8.673776e+08  1.233227e+07
Wiz Khalifa        1.690387e+09  1.194763e+07
j-hope             3.747844e+08  1.177462e+07
Rihanna            2.626030e+09  1.060366e+07
BTS                2.306004e+08  7.514177e+06
Bastille           5.261557e+08  7.028406e+06

In [ ]:
# Otra opción usando un diccionario 
metrica = ["danceability", "acousticness","speechiness"]
categorias = {"album" :df1,"single": df2}
for nombre, dataframe in categorias.items():
    for i in metrica:
        print(f"{nombre} , {i}")
        display(dataframe.groupby("artist")[i].agg(["mean","std"]).reset_index().sort_values(by= "mean", ascending= False))
        print("________________")
    print("************************************")